setuptools~=75.8.2
wheel~=0.45.1
selenium~=4.29.0
pytest~=8.3.4
python-dotenv~=1.0.1
requests~=2.32.3
Faker~=36.1.1
allure-pytest~=2.13.5
allure-python-commons~=2.13.5
webdriver_manager~=4.0.2
pytest-xdist~=3.6.1